@{
    Layout = "~/Views/CRM/View_AddUser.cshtml";
}


<main class="verification_wrapper">
    <div class="Verification-content">
        <div class="logo">
            <figure>
                <a href="#"><img src="image/logo1.png" alt=""></a>
            </figure>
        </div>
        <div class="evelop-banner">
            <div class="mail-wrp">
                <img src="image/stars.png" alt="img">
            </div>
            <div class="evn-cnt">
                <h2>Email Confirmation</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam nemo rem quis ea illo laudantium eum, dolore explicabo suscipit! Expedita?</p>
                <a href="#">Verify email <address></address></a>
            </div>
        </div>
    </div>
</main>